<div id="exhibitPanel">
  <button class="btn btn-default" id="addExhibit">Dodaj eksponat</button>
  <div class="input-group">
    <input class="form-control" id="exhibitSearchBar" placeholder="Wyszukaj eksponat">
    <span class="input-group-addon">&#x1f50d;</span>
  </div>
  <div id="exhibitListContainer">
    <div id="exhibitList"></div>
  </div>
  <div id="filterButtons">
    <table>
      <tbody>
        <tr>
        {% for floor in availableFloors %}
        <td>
          <button class="btn btn-default">{{floor}}</button>
        </td>
        {% endfor %}
        <td>
          <button class="btn btn-default">
          {% if availableFloors|length > 4 %}
          b
          {% else %}
          brak
          {% endif %}
          </button>
        </td>
      </tbody>
    </table>
  </div>
</div>
