Michał Majewski <mm347108@students.mimuw.edu.pl>
Maciej Piktel <mp347205@students.mimuw.edu.pl>
Krzysztof Lewko <minib00m@gmail.com>
Krzysztof Lewko <you@example.com>
Krzysztof Lewko <krzys.minib00m@gmail.com>
Piotr Gawryluk <pg346895@students.mimuw.edu.pl>
Piotr Gawryluk <pgawryluk0@gmail.com>
