body {
  overflow: hidden;
}

.modal {
  top: 95px;
}
/* end of redefining bootstrap classes */
/* Redefining leaflet classes */
.leaflet-top.leaflet-left, .leaflet-bottom.leaflet-left {
  left: -46px;
  z-index: 1030;
}
/* end of redefining leaflet classes */
.nav-link {
  cursor: pointer;
}
