body {
  padding-top: 50px;
  overflow: hidden;
}
/* Redefining bootstrap classes */
.alert {
	margin-bottom: 0px;
}

.progress {
  margin-bottom: 0px;
  margin-top: 1px;
}
.progress-bar {
  padding-bottom: 0px;
}
/* end of redefining bootstrap classes */
/* Redefining leaflet classes */
.leaflet-top.leaflet-left {
  left: -46px;
  z-index: 1300;
}
/* end of redefining leaflet classes */
.exhibit {
  fill: lightblue;
  stroke: blue;
  pointer: default;
}

.exhibit rect.dragging {
  fill: #ff9999;
  stroke: red;
}

/* 50px - navbar, 45px - form */
.without-form {
  height: calc(100vh - 50px);
}

.with-form {
  height: calc(100vh - 95px);
}

/* 46 - detached-control-panel width */
#map {
  width: calc(100vw - 46px);
  left: 46px;
  overflow: visible;
}

.detached-control-panel {
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 51px;
  width: 46px;
  z-index: 1200;
  overflow: hidden;
}
#imageUploadForm {
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 51px;
  left: 0px;
  right: 0px;
  z-index: 1200;
}
