body {
  padding-top: 50px;
  overflow: hidden;
}
/* Redefining bootstrap classes */
.modal {
  top: 95px;
}
/* end of redefining bootstrap classes */
/* Redefining leaflet classes */
.leaflet-top.leaflet-left, .leaflet-bottom.leaflet-left {
  left: -46px;
  z-index: 1030;
}
/* end of redefining leaflet classes */
.nav-link {
  cursor: pointer;
}

/* 46 - detached-control-panel width */
#map, #editMap {
  width: calc(100vw - 46px);
  height: calc(100vh - 50px);
  left: 46px;
  overflow: visible;
}

.detached-control-panel {
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 50px;
  width: 46px;
  height: calc(100vh - 50px);
  z-index: 1029;
}
