#exhibit-panel {
  border-left: 1px solid #aaa;
}

#exhibitPanel {
  height: 100%;
  width: 100%;
}

#exhibitPanel button {
  height: 35px;
}

#exhibitPanel > button {
  position: absolute;
  top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  width: 98.5%;
}

#exhibitPanel > div.input-group {
  position: absolute;
  top: 45px;
  margin-left: 2px;
  margin-right: 2px;
  height: 34px;
}

#exhibitPanel > div.input-group span {
  cursor: pointer;
}

#exhibitListContainer {
  position: absolute;
  top: 79px; /* button + search bar + margins */
  bottom: 45px; /* button + margin */
  left: 2px;
  right: 2px;
  overflow-y: scroll;
}

#exhibitList {
  position: relative;
  width: 100%;
}

.exhibitListElement {
  position: relative;
  margin: 2px;
}

.exhibitListElement > .exhibitCaption {
  position: relative;
  margin-right: 24px;
  padding-left: 8px;
  height: 42px;
  border-radius: 4px 0px 0px 4px;
  white-space: nowrap;
  overflow-x: hidden;
  background: white;
  cursor: pointer;
}

.exhibitListElement > .exhibitCaption:hover {
  background: #eee;
}

.exhibitListElement > .exhibitFlyToButton {
  display: table;
  position: absolute;
  width: 24px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: #eee;
  border-radius: 0px 3px 3px 0px;
  text-align: center;
  border-left: 1px solid #ccc;
}

.exhibitListElement > .exhibitFlyToButton .clickable {
  cursor: pointer;
}

.exhibitFlyToButton > div,
.exhibitCaption > div {
  display: table-cell;
  vertical-align: middle;
  height: 42px;
}

#filterButtons {
  position: absolute;
  right: 2px;
  bottom: 5px;
  left: 2px;
}

#filterButtons > table {
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

#filterButtons > table > tbody > tr > td {
  padding-left: 1px;
  padding-right: 1px;
}

#filterButtons > table > tbody > tr > td > button {
  width: 100%;
}
