#container {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  text-align: center;
}

#experiment {
  position: relative;
  float: left;
  width: 65%;
  height: 100%;
  overflow-y: scroll;
}

.questionsBefore,
.questionsAfter,
.experimentActions,
.breakActions {
  padding: 10px 5%;
  margin-bottom: 50px;
}

.questionsBefore > div,
.questionsAfter > div,
.experimentActions > div,
.breakActions > div,
.chooseList > div {
  background: #eee;
  border: 1px solid #ddd;
}

.myHeader {
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  font-weight: 600;
}

.myFooter {
  height: 50px;
  line-height: 50px;
  font-size: 22px;
}

.experimentActions .myHeader,
.breakActions .myHeader,
.chooseList .myFooter {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.chooseList .myFooter {
  border-collapse: separate;
  border-spacing: 2px;
}

.experimentActions .myHeader > div,
.breakActions .myHeader > div,
.chooseList .myFooter > button {
  display: table-cell;
  width: 50%;
  height: 45px;
}

.chooseList .myFooter > div:hover {
  background: #ccc;
  cursor: pointer;
}

.experimentActions .myHeader > div:first-child
.breakActions .myHeader > div:first-child {
  border-right: 1px solid #ddd;
}

.chooseList {
  float: right;
  width: 35%;
  height: 100%;
  padding: 10px 15px;
}

.chooseList > div {
  position: relative;
  height: 100%;
}

.chooseList .myHeader {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.chooseList .middle {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 50px;
  overflow-y: scroll;
}

.chooseList .myFooter {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

table.myTable {
  width: 100%;
  table-layout: fixed;
  margin-top: 1px;
}

table.myTable > tbody > tr {
  height: 42px;
  background: #fff;
}

table.myTable > tbody > tr > td {
  /*border: 1px solid #ddd;*/
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

table.myTable > tbody > tr {
  border: 1px solid #ddd;
}

table.myTable > tbody > tr > td:hover {
  background: #ddd;
  /*border: 1px solid #ccc;*/
}

table.myTable > tbody > tr > td > div:first-child {
  white-space: nowrap;
  overflow-x: hidden;
}

table.myTable > tbody > tr > td:not(:last-child):not(:first-child) {
  width: 100px;
}

table.myTable > tbody > tr > td:last-child {
  padding: 0px;
  width: 15px;
}

:not(.chooseList) table.myTable > tbody > tr > td:last-child {
  padding-right: 10px;
  padding-left: 10px;
  width: 35px;
}

.addElement {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 14px;
  line-height: 51px;
  width: 42px;
  border-left: 1px solid #ddd;
  cursor: pointer;
}

.addElement:hover {
  background: #ccc;
  border: 1px solid #bbb;
}
