table.questionsActionsTable {
  width: 100%;
  table-layout: fixed;
  border-top: none;
}

table.questionsActionsTable > tbody > tr {
  height: 42px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

table.questionsActionsTable > tbody > tr.newListEntry {
  background: #ADDFFF;
  border-bottom: 1px solid #ACCEEE;
}

table.questionsActionsTable > tbody > tr.newListEntry > td:hover {
  background: #85B7D7;
}

table.questionsActionsTable > tbody > tr.newListEntry > td:not(:last-child):not(:first-child):hover {
  background: #ADDFFF;
  cursor: default;
}

table.questionsActionsTable > tbody > tr > td {
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

table.questionsActionsTable > tbody > tr > td:hover {
  background: #ddd;
}

table.questionsActionsTable > tbody > tr > td > div:first-child {
  white-space: nowrap;
  overflow-x: hidden;
}

table.questionsActionsTable > tbody > tr > td:not(:last-child):not(:first-child) {
  width: 100px;
}

table.questionsActionsTable > tbody > tr > td:not(:last-child):not(:first-child):hover {
  background: #fff;
  cursor: default;
}

table.questionsActionsTable > tbody > tr > td:last-child {
  padding: 0px;
  width: 15px;
}

table.questionsActionsTable > tbody > tr > td:last-child {
  padding-right: 10px;
  padding-left: 10px;
  width: 35px;
}
