table.raportsTable {
  table-layout: fixed;
  width: 100%;
}

table.raportsTable > tbody > tr {
  height: 42px;
  border-bottom: 1px solid #ddd;
}

table.raportsTable > tbody > tr > td:last-child {
  width: 120px;
}

table.raportsTable > tbody > tr > td:first-child:hover {
  cursor: pointer;
  background: #ddd;
}
