<div id="exhibitPanel">
  <button class="btn btn-default" id="addExhibit">Dodaj eksponat</button>
  <div class="input-group">
    <input class="form-control" id="exhibitSearchBar" placeholder="Wyszukaj eksponat">
    <span class="input-group-addon">&#x1f50d;</span>
  </div>
  <div id="exhibitListContainer">
    <div id="exhibitList"></div>
  </div>
  <div id="filterButtons">
    <button class="btn btn-default">0</button>
    <button class="btn btn-default">1</button>
    <button class="btn btn-default">brak</button>
  </div>
</div>
