{% extends "mainPage.html" %}
{% load staticfiles %}
{% load compress %}
{% block css %}
  {{ block.super }}
  <link href="{% static "include/css/leaflet.css" %}" rel="stylesheet" />
  <link href="{% static "include/css/leaflet.label.css" %}" rel="stylesheet" />
  <link href="{% static "css/exhibitPanel.css" %}" rel="stylesheet" />
  <link href="{% static "css/control-buttons.css" %}" rel="stylesheet" />
  <link href="{% static "css/editMap.css" %}" rel="stylesheet" />
{% endblock %}
{% block script %}
  {{ block.super }}
  <!-- LEAFLET -->
  <script src="{% static "include/js/leaflet-src.js" %}"></script>
  <!-- Leaflet label -->
  <script src="{% static "include/js/Label.js" %}"></script>
  <script src="{% static "include/js/BaseMarkerMethods.js" %}"></script>
  <script src="{% static "include/js/Marker.Label.js" %}"></script>
  <script src="{% static "include/js/Path.Label.js" %}"></script>
  <script src="{% static "include/js/Map.Label.js" %}"></script>
  <script src="{% static "include/js/FeatureGroup.Label.js" %}"></script>

  <!-- Leaflet drag -->
  <script src="{% static "include/js/SVG.js" %}"></script>
  <script src="{% static "include/js/Path.Transform.js" %}"></script>
  <script src="{% static "include/js/Path.Drag.js" %}"></script>

  <!-- Leaflet edit -->
  <script src="{% static "include/js/Leaflet.draw.js" %}"></script>
  <script src="{% static "include/js/edit/handler/Edit.Poly.js" %}"></script>
  <script src="{% static "include/js/edit/handler/Edit.SimpleShape.js" %}"></script>
  <script src="{% static "include/js/edit/handler/Edit.Rectangle.js" %}"></script>
{% endblock %}
{% block init %}
 {{ block.super }}
  {% compress js %}
    <script src="{% static "coffee/handlers/editMap.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
{% endblock %}
{% block content %}
<div id="mapSite">
  <div class="control-button-container">
    <div class="control-button-group" id="zoomControls">
      <button class="control-button"><div><span><strong>+</strong></span></div></button>
      <button class="control-button"><div><span><strong>-</strong></span></div></button>
    </div>
    <div class="control-button-group" id="changeFloor">
      <button class="control-button"><div><span><strong>0</strong></span></div></button>
      <button class="control-button"><div><span><strong>1</strong></span></div></button>
    </div>
    <div class="control-button-group" id="showLabels">
      <button class="control-button"><div><i class="fa fa-comment-o"></i></div></button>
    </div>
    <div class="control-button-group" id="changeResizing">
      <button class="control-button"><div><i class="fa fa-arrows-alt"></i></div></button>
    </div>
    <div class="control-button-group" id="changeMap">
      <button class="control-button"><div><i class="fa fa-map-o"></i></div></button>
    </div>
  </div>
  <div id="map"></div>
  <div id="exhibit-panel"></div>
</div>
{% endblock %}
