{% extends "mainPage.html" %}
{% load staticfiles %}
{% load compress %}
{% block css %}
  {{ block.super }}
  <link href="{% static "css/control-buttons.css" %}" rel="stylesheet" />
  <link href="{% static "css/justMap.css" %}" rel="stylesheet" />
{% endblock %}
{% block init %}
  {{ block.super }}
  {% compress js %}
    <script src="{% static "coffee/handlers/justMap.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
{% endblock %}
{% block content %}
<div id="mapSite">
  <div class="control-button-container">
    <div class="control-button-group" id="zoomControls">
      <button class="control-button"><div><span><strong>+</strong></span></div></button>
      <button class="control-button"><div><span><strong>-</strong></span></div></button>
    </div>
    <div class="control-button-group" id="changeFloor">
      <button class="control-button"><div><span><strong>0</strong></span></div></button>
      <button class="control-button"><div><span><strong>1</strong></span></div></button>
    </div>
    <div class="control-button-group" id="showLabels">
      <button class="control-button"><div><i class="fa fa-comment-o"></i></div></button>
    </div>
    {% block editMapButtons %}{% endblock %}
  </div>
  <div id="map"></div>
  {% block editMapExhibitPanel %} {% endblock %}
</div>
{% endblock %}
