table.finishedExperimentsTable {
  width: 100%;
  table-layout: fixed;
  border-top: none;
}

table.finishedExperimentsTable > tbody > tr {
  height: 42px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

table.finishedExperimentsTable > tbody > tr > td {
  padding-left: 8px;
  padding-right: 8px;
}

table.finishedExperimentsTable > tbody > tr > td > div:first-child {
  white-space: nowrap;
  overflow-x: hidden;
}

table.finishedExperimentsTable > tbody > tr > td + td + td {
  width: 90px;
}

table.finishedExperimentsTable td:first-child + td {
  width: 90px;
  font-size: 14px;
}

table.finishedExperimentsTable > tbody > tr > td + td + td > div {
  background: #ddd;
  border: 1px solid #aaa;
  cursor: default;
  text-align: center;
  transition: background 120ms linear;
}

table.finishedExperimentsTable > tbody > tr > td + td + td > div:hover {
  background: lightgreen;
  cursor: pointer;
}

table.finishedExperimentsTable > tbody > tr > td:hover {
  background: #fff;
}
