#navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
}

.nav-link {
  cursor: pointer;
}

.navbar a {
  font-weight: 600;
  font-family: 'Open Sans';
  font-size: 14px;
}
