table.readyExperimentsTable {
  width: 100%;
  table-layout: fixed;
  border-top: none;
}

table.readyExperimentsTable > tbody > tr {
  height: 42px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

table.readyExperimentsTable > tbody > tr > td {
  padding-left: 8px;
  padding-right: 8px;
}

table.readyExperimentsTable > tbody > tr > td > div:first-child {
  white-space: nowrap;
  overflow-x: hidden;
}

table.readyExperimentsTable > tbody > tr > td + td {
  width: 90px;
}

table.readyExperimentsTable > tbody > tr > td + td > div:not(.tooltip) {
  background: #ddd;
  border: 1px solid #aaa;
  cursor: default;
  text-align: center;
  transition: background 120ms linear;
}

table.readyExperimentsTable > tbody > tr > td + td:not(.nonclickable) > div:not(.tooltip):hover {
  cursor: pointer;
}

table.readyExperimentsTable > tbody > tr > td:last-child:hover,
table.readyExperimentsTable > tbody > tr > td:first-child:hover {
  background: #fff;
}

table.readyExperimentsTable > tbody > tr > td + td:not(.nonclickable) > div:not(.tooltip):hover {
  background: lightgreen;
}

table.readyExperimentsTable > tbody > tr > td.nonclickable:last-child > div:not(.tooltip) {
  opacity: 0.6;
}
