<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
{% load jsvar %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NUBZ</title>
  {% block script %}
  <script src="{% static "include/js/jquery.min.js" %}"></script>
  <script src="{% static "include/js/bootstrap.min.js" %}"></script>
  <script src="{% static "include/js/bootstrap-dialog.js" %}"></script>
  <script src="{% static "include/js/csrf.js" %}"></script>
  {% endblock %}
  {% block css %}
  <!-- CSS -->
  <link href="{% static "include/css/bootstrap.min.css" %}" rel="stylesheet" />
  <link href="{% static "include/css/font-awesome.min.css" %}" rel="stylesheet" />
  <link href="{% static "include/css/bootstrap-dialog.css" %}" rel="stylesheet" />
  <link href="{% static "css/base.css" %}" rel="stylesheet" />
  {% endblock %}
  {% block includes %}{% endblock %}
  {% block init %}
    {% compress js %}
    <script src="{% static "coffee/handler/logging.coffee"%}" type="text/coffeescript"></script>
    {% endcompress %}
    {% compress js %}
    <script type="text/coffeescript">
      root = exports ? this
      floorUrl = "{{urlFloor|escape|safe}}"

      if floorUrl[0] is '' or floorUrl[1] is ''
        f = ->
          miss0 = floorUrl[0] is ''
          miss1 = floorUrl[1] is ''
          if miss0 and miss1
            missingFloor = "0 oraz 1"
          else if miss0
            missingFloor = "0"
          else
            missingFloor = "1"

          BootstrapDialog.show(
            message: "W pliku konfiguracyjnym brakuje sciezki do folderu z mapami pietra #{missingFloor}"
            title: 'Zły plik konfiguracyjny'
            type: BootstrapDialog.TYPE_DANGER
          )
        setTimeout(f, 1000)
        throw new Error("zły plik konfiguracyjny")
      activeFloor = +"{{acitveFloor}}"
      exhibits = jQuery.map({{exhibits | jsvar}}, (val) -> [val])
      floorTilesInfo = jQuery.map({{floorTilesInfo | jsvar}}, (val) -> [val])
      avaibleFloors = {{avaibleFloors | jsvar}}
      if Object.keys(floorTilesInfo).length > 0
        for i in avaibleFloors
          floorTilesInfo[i] = jQuery.map(floorTilesInfo[i], (val) -> [val])
      else
        floorTilesInfo[0] = []
      new root.MapDataHandler(activeFloor, floorUrl, exhibits, floorTilesInfo, avaibleFloors)
    </script>
    {% endcompress %}
  {% endblock %}
</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
