<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
{% load jsvar %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NUBZ</title>
  {% block script %}
  <script src="{% static "include/js/jquery.min.js" %}"></script>
  <script src="{% static "include/js/bootstrap.min.js" %}"></script>
  <script src="{% static "include/js/bootstrap-dialog.js" %}"></script>
  <script src="{% static "include/js/csrf.js" %}"></script>
  {% endblock %}
  {% block css %}
  <!-- CSS -->
  <link href="{% static "include/css/bootstrap.min.css" %}" rel="stylesheet" />
  <link href="{% static "include/css/font-awesome.min.css" %}" rel="stylesheet" />
  <link href="{% static "include/css/bootstrap-dialog.css" %}" rel="stylesheet" />
  <link href="{% static "css/base.css" %}" rel="stylesheet" />
  {% endblock %}
  {% block includes %}{% endblock %}
  {% block init %}
    {% compress js %}
    <script src="{% static "coffee/handler/logging.coffee"%}" type="text/coffeescript"></script>
    {% endcompress %}
    {% compress js %}
    <script type="text/coffeescript">
      root = exports ? this
      # floorUrl :: String
      root.floorUrl = "{{urlFloor|escape|safe}}"
      if floorUrl is ''
        f = ->
          BootstrapDialog.show(
            message: "W pliku konfiguracyjnym brakuje sciezki do folderu z mapami"
            title: 'Zły plik konfiguracyjny'
            type: BootstrapDialog.TYPE_DANGER
          )
        setTimeout(f, 1000)
        throw new Error("Zły plik konfiguracyjny")
      # activeFloor :: Int
      root.activeFloor = +"{{acitveFloor}}"
      #
      # type ExhibitFrame = {
      #   height   :: Int,
      #   width    :: Int,
      #   x        :: Int,
      #   y        :: Int,
      #   mapLevel :: Int
      # }
      #
      #
      # type Exhibit = {
      #   colorHex :: String,
      #   frame    :: Maybe ExhibitFrame,
      #   name     :: String
      # }
      #
      # exhibitsList :: [Exhibit]
      root.exhibitsList = jQuery.map({{exhibits | jsvar}}, (val) -> [val])
      # exhibits :: (JsObject :: (Int, Exhibit))
      root.exhibits = {}
      if root.exhibitsList.length > 0
        for e in root.exhibitsList
          root.exhibits[e.id] =
            id: e.id
            frame: e.frame
            name: e.name
            colorHex: e.colorHex
      ###
      # type TilesInfo = {
      #   scaledHeight :: Int,
      #   scaledWidth  :: Int,
      #   tileHeight   :: Int,
      #   tileWidth    :: Int
      # }
      ###
      # type SingleFloorTilesInfo = [TileInfo]
      # floorTilesInfo :: [SingleFloorTilesInfo]
      root.floorTilesInfo = jQuery.map({{floorTilesInfo | jsvar}}, (val) -> [val])
      # availableFloors :: [Int]
      root.availableFloors = {{availableFloors | jsvar}}
      if Object.keys(floorTilesInfo).length > 0
        for i in root.availableFloors
          root.floorTilesInfo[i] = jQuery.map(root.floorTilesInfo[i], (val) -> [val])
      else
        root.floorTilesInfo[0] = []
    </script>
    {% endcompress %}
  {% endblock %}
</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
