<!DOCTYPE html>
{% load compress %}
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static "favicon.ico" %}">

  <title>Tajny Projekt NUBZ</title>

  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/d3.v3.min.js" %}"></script>
  <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

  <!-- LEAFLET -->
  <script src="{% static "js/leaflet-src.js" %}"></script>
  <script src="{% static "js/easy-button.js" %}"></script>
  <script src="{% static "js/Label.js" %}"></script>
  <script src="{% static "js/BaseMarkerMethods.js" %}"></script>
  <script src="{% static "js/Marker.Label.js" %}"></script>
  <script src="{% static "js/Path.Label.js" %}"></script>
  <script src="{% static "js/Map.Label.js" %}"></script>
  <script src="{% static "js/FeatureGroup.Label.js" %}"></script>

  <!-- CSS -->
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
  <link href="{% static "css/base.css" %}" rel="stylesheet" />
  <link href="{% static "css/leaflet.css" %}" rel="stylesheet" />
  <link href="{% static "css/easy-button.css" %}" rel="stylesheet" />
  <link href="{% static "css/leaflet.label.css" %}" rel="stylesheet" />
  <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" />

  <!-- load django variables globally -->
  {% compress js %}
  <script type="text/coffeescript">
    class Frame
      constructor: (@x, @y, @width, @height, @mapLevel) ->
    class Exhibit
      constructor: (@exhibitName, @frame) ->

    root = exports ? this
    root.urlFloor = [
      "{{urlFloor0|escape|safe}}"
      "{{urlFloor1|escape|safe}}"
    ]
    console.log root.urlFloor
    root.csrf_token = "{% csrf_token %}"
    root.activeFloor = +"{{acitveFloor}}"

    root.exhibits = []
    root.floorTilesInfo = []
    {% for key in floorTilesInfo %}
    root.floorTilesInfo.push({
      'scaledWidth': {{key.scaledWidth}}
      'scaledHeight': {{key.scaledHeight}}
      'tileWidth': {{key.tileWidth}}
      'tileHeight': {{key.tileHeight}}
    })
    {% endfor %}
    console.log root.floorTilesInfo
    {% for key in exhibits %}
    root.exhibits.push(new Exhibit("{{key.name}}",
                       new Frame({{key.x}}, {{key.y}}, {{key.width}}, {{key.height}}, {{key.mapLevel}})))
    {% endfor %}

    root.floorExhibits = [
      (e for e in root.exhibits when e.frame.mapLevel is 0),
      (e for e in root.exhibits when e.frame.mapLevel is 1)
    ]
  </script>
  {% endcompress %}
</head>
<body>
  {% compress js %}
  <script src="{% static "coffee/navbar.coffee"%}" type="text/coffeescript">
    ###
    # CREATE NAVIGATION BAR
    ###
  </script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/uploadResult.coffee" %}" type="text/coffeescript">
    ###
    # INFORMATION ABOUT UPLOAD RESULT
    ###
  </script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/imageUploadForm.coffee" %}" type="text/coffeescript">
    ###
    # CREATE IMAGE UPLOAD FORM
    ###
  </script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/mapCanvas.coffee" %}" type="text/coffeescript">
    ###
    # CREATE MAP IMAGE CONTAINER
    ###
  </script>
  {% endcompress %}
</body>
</html>
