<!DOCTYPE html>
{% load compress %}
{% load staticfiles %}
{% load jsvar %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static "favicon.ico" %}">

  <title>Tajny Projekt NUBZ</title>

  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/d3.v3.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/bootstrap-dialog.js" %}"></script>
  <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
  <script src="{% static "js/csrf.js" %}"></script>

  <!-- LEAFLET -->
  <script src="{% static "js/leaflet-src.js" %}"></script>
  <script src="{% static "js/easy-button.js" %}"></script>
  <script src="{% static "js/Label.js" %}"></script>
  <script src="{% static "js/BaseMarkerMethods.js" %}"></script>
  <script src="{% static "js/Marker.Label.js" %}"></script>
  <script src="{% static "js/Path.Label.js" %}"></script>
  <script src="{% static "js/Map.Label.js" %}"></script>
  <script src="{% static "js/FeatureGroup.Label.js" %}"></script>

  <!-- CSS -->
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
  <link href="{% static "css/base.css" %}" rel="stylesheet" />
  <link href="{% static "css/leaflet.css" %}" rel="stylesheet" />
  <link href="{% static "css/easy-button.css" %}" rel="stylesheet" />
  <link href="{% static "css/leaflet.label.css" %}" rel="stylesheet" />
  <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" />
  <link href="{% static "css/bootstrap-dialog.css" %}" rel="stylesheet" />
  {% compress js %}
  <script type="text/coffeescript">
    root = exports ? this
    root.csrf_form = "{% csrf_token %}"
  </script>
  {% endcompress %}
</head>
<body>
  <div id="map2"></div>
  <div id="map"></div>
  {% compress js %}
  <script src="{% static "coffee/controller.class.coffee"%}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/controlleremitter.class.coffee"%}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/mainpage.class.coffee"%}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/navbar.class.coffee"%}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/canvas.class.coffee"%}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/editablecanvas.class.coffee"%}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script type="text/coffeescript">
    document.detached = {}
    root = exports ? this
    errorData = [
      {"message": "Mapa piętra została pomyślnie zmieniona", "type": BootstrapDialog.TYPE_SUCCESS, "title": "Sukces"}
      {"message": "Niepoprawny format. Obsługiwane rozszerzenia: .png .jpg .gif .bmp", "type": BootstrapDialog.TYPE_INFO, "title": "Zły format"}
      {"message": "Wystąpił wewnętrzny błąd serwera - spróbuj ponownie za chwilę", "type": BootstrapDialog.TYPE_DANGER, "title": "Błąd serwera"}
      {"message": "form error - not POST method", "type": BootstrapDialog.TYPE_DANGER, "title": "not POST method"}
    ]
    urlFloor = [
      "{{urlFloor0|escape|safe}}"
      "{{urlFloor1|escape|safe}}"
    ]
    activeFloor = +"{{acitveFloor}}"
    exhibits = jQuery.map({{exhibits | jsvar}}, (val) -> [val])
    floorTilesInfo = jQuery.map({{floorTilesInfo | jsvar}}, (val) -> [val])
    (floorTilesInfo[i] = jQuery.map(floorTilesInfo[i], (val) -> [val])) for i in [0..1]
    visibleExhibits = [
      (e for e in exhibits when e.frame?.mapLevel is 0),
      (e for e in exhibits when e.frame?.mapLevel is 1)
    ]
    canvas = new root.Canvas("map", urlFloor, "#canvas")
    editCanvas = new root.EditableCanvas("map2", urlFloor , "#canvas2")
    #detach map and map2
    document.detached["map"] = d3.select("#map")
    document.detached["map2"] = d3.select("#map2")
    d3.selectAll("#map, #map2").remove()
    #boundaries will be set according to highest zoom
    mapWidth = (floorTilesInfo[i][-1..][0].scaledWidth for i in [0..1])
    mapHeight = (floorTilesInfo[i][-1..][0].scaledHeight for i in [0..1])
    for i in [0..1]
      editCanvas.addMapBounds(i, [0, mapHeight[i]], [mapWidth[i], 0])
                .addFloorLayer(i, floorTilesInfo[i], urlFloor[i])
                .addExhibits(i, visibleExhibits[i])
      canvas.addMapBounds(i, [0, mapHeight[i]], [mapWidth[i], 0])
            .addFloorLayer(i, floorTilesInfo[i], urlFloor[i])
            .addExhibits(i, visibleExhibits[i])

    editCanvas.setFloorLayer(activeFloor)(canvas._floorButton[activeFloor])
    canvas.setFloorLayer(activeFloor)(canvas._floorButton[activeFloor])


    jQuery(document).ready( ->
      page = new root.MainPage "body"
      navbar = new root.Navbar "#navbar"

      page.addView("navbar", navbar)
          .materializeView "navbar"

      navbar.addView("justMap", canvas)
            .addView("editMap", editCanvas)
            .materializeView "justMap"
            .refreshView "justMap"


      editCanvas.on("submit", (e) =>
        jQuery.ajaxSetup(
          headers: { "X-CSRFToken": getCookie("csrftoken") }
        )
        console.log this
        jQuery.ajax(
          type: "POST"
          url: "/uploadImage/"
          data: new FormData(jQuery("#dialogForm")[0])
          processData: false
          contentType: false

          success: (data) ->
            console.log data
            location.reload()
            return
            # TODO: refresh tiles with given data
            #data.floorTilesInfo[data.floor] = jQuery.map(data.floorTilesInfo[data.floor], (val) -> [val])
            #errorIdx = data.err - 1
            #console.log data
            #if errorIdx is 0
            #  TODO: bind correct location
            #  view = @getView(@_activeView)
            #  view.refreshTiles(data.floor, data.floorTilesInfo)
            #return
          )
        e.preventDefault()
        return
        )
    )
  </script>
  {% endcompress %}
</body>
</html>
