{% extends "mainPage.html" %}
{% load compress %}
{% load jsvar %}
{% load staticfiles %}
{% block script %}
  <script src="{% static "include/js/jquery.min.js" %}"></script>
  {% compress js %}
  <script src="{% static "coffee/plugin/dynamicInputs.ext.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "coffee/plugin/shortenText.ext.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "coffee/handler/newExperiment.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
  <script src="{% static "include/js/bootstrap.min.js" %}"></script>
  <script src="{% static "include/js/bootstrap-dialog.js" %}"></script>
  <script src="{% static "include/js/csrf.js" %}"></script>
{% endblock %}
{% block css %}
  {{ block.super }}
  <link href="{% static "css/base.css" %}" rel="stylesheet" />
  <link href="{% static "css/navbar.css" %}" rel="stylesheet" />
  <link href="{% static "include/css/bootstrap.min.css" %}" rel="stylesheet" />
  <link href="{% static "include/css/bootstrap-dialog.css" %}" rel="stylesheet" />
  <link href="{% static "css/newExperimentPage.css" %}" rel="stylesheet" />
  <link href="{% static "css/questionsActionsTable.css" %}" rel="stylesheet" />
{% endblock %}
{% block includes %}
  {% compress js %}
  <script src="{% static "coffee/dialog/QuestionDialog.class.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/dialog/SimpleQuestionDialog.class.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/dialog/MultipleChoiceQuestionDialog.class.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/dialog/SortQuestionDialog.class.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/dialog/ActionDialog.class.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/View.class.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/experimentData/ExperimentData.class.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "coffee/experimentData/Actions.class.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "coffee/experimentData/Questions.class.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/list/ListView.class.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/list/row/ChooseQuestionRow.class.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/list/row/ChooseActionRow.class.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/list/row/ExperimentActionRow.class.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/list/row/ExperimentQuestionRow.class.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
  {% compress js %}
  <script src="{% static "coffee/list/QuestionsList.class.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "coffee/list/ActionsList.class.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
{% endblock %}
{% block init %}
  {% compress js %}
    <script type="text/coffeescript">
      root = exports ? this
      success = {{success|jsvar}}
      if not success
        # just in case it will probably never happen
        showError = ->
          BootstrapDialog.show(
            message: '{{message}}'
            title: 'Wystąpił błąd'
            type: BootstrapDialog.TYPE_DANGER
          )
        setTimeout(showError, 1000)
      root.questionsList = {{questionsList|jsvar}}
      root.actionsList = {{actionsList|jsvar}}
      root.HTML =
        chooseQuestionRow: '{{chooseQuestionRow}}'
        experimentQuestionRow: '{{experimentQuestionRow}}'
        chooseActionRow: '{{chooseActionRow}}'
        experimentActionRow: '{{experimentActionRow}}'
        tableList: '{{tableList}}'
    </script>
  {% endcompress %}
{% endblock %}
{% block content %}
<div id="container">
  <div id="experiment">
    <div class="experimentTitle">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">Nazwa</span>
        <input class="form-control" type="text" data-toggle="tooltip" data-placement="bottom" title="Nazwa nie może być pusta" />
      </div>
    </div>

    <div class="questionsBefore">
      <div>
        <div class="myHeader">Pytania przed</div>
        <div class="middle"></div>
      </div>
    </div>

    <div class="actions">
      <div class="experimentActions">
        <div>
          <div class="myHeader">
            Akcje podczas zwiedzania
          </div>
          <div class="middle"></div>
        </div>
      </div>

      <div class="breakActions">
        <div>
          <div class="myHeader">
            Akcje podczas przerwy
          </div>
          <div class="middle"></div>
        </div>
      </div>
    </div>

    <div class="questionsAfter">
      <div>
        <div class="myHeader">Pytania po</div>
        <div class="middle"></div>
      </div>
    </div>
    <div class="saveExperiment">
      <div class="myFooter">
        <button class="btn btn-success">Zapisz badanie</button>
      </div>
    </div>
  </div>

  <div class="chooseList">
    <div>
      <div class="myHeader">
        <span></span>
        <div class="addElement"><i class="fa fa-plus"></i></div>
      </div>
      <div class="middle"></div>
      <div class="myFooter">
        <button class="btn btn-default">Akcje</button>
        <button class="btn btn-default">Pytania</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
