<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cnk"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Cnk"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.StartScreen"
            android:label="@string/start_screen_title"/>

        <activity
            android:name=".activities.MapActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".activities.SurveyActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>
